<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>pet store</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>
<body>

<p>Name: <%@puppy.name = params["name"]%><%= @puppy.name.capitalize %></p>
<p>Breed: <%@puppy.breed = params["breed"]%><%= @puppy.breed %></p>
<p>Age: <%@puppy.age = params["age"]%><%= @puppy.age %> months</p>
<a href="/new">List A Puppy</a>
</body>
</html>
